<div class="container mt-4">
  <h1><%= @season.name %></h1> 
  <h2><%= @season.season_year %></h2>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h2>Players Score</h2>
      <% cache do %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Player</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            <% @players.sort_by { |player| player.points_by_season(@season) }.reverse.each do |player| %>
              <tr>
                <th scope="row"><%= player.user.email %></th>
                <td><%= player.points_by_season(@season) %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2>Active Rounds</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @rounds.each do |round| %>
            <tr>
              <th scope="row"><%= round.id %></th>
              <td><%= round.name %></td>
              <td>
                <%= link_to 'Show round', organization_season_round_path(@organization.id, @season.id, round.id), class: 'btn btn-sm btn-primary' %>
                <%= link_to 'List round', organization_season_round_index_path(@organization.id, @season.id,), class: 'btn btn-sm btn-primary' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to 'Back', organization_path(@organization), class: 'btn btn-sm btn-primary' %>
</div>