
<h1><%= @round.name %></h1>
</br>

<div class="col-md-6">
    <h2>Matches</h2>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Equipos</th>
            <th scope="col">Score</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% @teams.each do |team| %>
                <tr>
                    <th scope="row"><%= team.name %></th>
                    <td><%= team.score %></td>
                    <% if user_signed_in? && current_user.admin? %>
                        <td>
                            <%= link_to 'Edit Team', edit_organization_season_round_match_team_path(@organization.id, @season.id, @round.id, team.match.id, team.id), class: 'btn btn-sm btn-primary' %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to 'Back', organization_season_path(current_organization.id, current_season.id, current_round.id),  class: 'btn btn-sm btn-primary' %>
</div>