<h1><%= t(".listin_organization") %></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t(".photo") %></th>
      <th scope="col"><%= t(".name") %></th>
      <th scope="col"><%= t(".action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <th scope="row"><%= organization.id %></th>
        <td><%= image_tag url_for(organization.logo) %></td>
        <td><%= organization.name %></td>
        <td>
          <%= link_to 'Show Season', organization_path(organization.id), class: 'btn btn-sm btn-primary' %>
          <%= link_to 'List of Seasons', organization_season_index_path(organization.id), class: 'btn btn-sm btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

