<!DOCTYPE html>
<html>
  <body>
    <%= render 'layouts/navbar/navbar' %>
    <h1>Listing Organization</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Photo</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each do |organization| %>
          <tr>
            <th scope="row"><%= organization.id %></th>
            <td><%= organization.logo %></td>
            <td><%= organization.name %></td>
            <td>
              <%= link_to 'Show', organization %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </body>
</html>
