<!DOCTYPE html>
<html>
<head>
  <title>TrainingExerciseRuby</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render 'layouts/navbar/navbar' %>
  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Info!</strong> <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> <%= alert %>
      </div>
    <% end %>
  </div>
  <%= yield %>
  <script>
    $(document).ready(function(){
      <% if notice.present? || alert.present? %>
        $(".alert").removeClass("d-none");
        $(".alert").fadeTo(1500, 500).slideUp(500, function(){
          $(".alert").slideUp(500);
        });
      <% end %>
    });
  </script>
</body>

</html>
